<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Arcadia | Measure Validator</title>
  <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">

</head>

<body>
  <h1 class="InnerHeader">
    <img src="{{url_for('static', filename='arc_new_logo.png')}}" align="middle" width="300" />
    <br><span>MEASURE SPEC SHEET VALIDATOR</span>
  </h1>
  <header>
    <div class="container">
      <strong>
        <nav>
              <a href="{{ url_for('home') }}" style="text-decoration: none;">  Home  </a>
              <a href="{{ url_for('about') }}" style="text-decoration: none;">  About  </a>
              <a href="{{ url_for('upload') }}" style="text-decoration: none;">  Upload  </a>
              <a href="{{ url_for('create') }}" style="text-decoration: none;">  Create  </a>
              <a href="{{ url_for('edit') }}" style="text-decoration: none;">  Edit  </a>

        </nav>
      </strong>
    </div>
  </header>

  {% block content %}
  {% endblock %}

</body>

</html>