h1 {
    background-color: #178165;
    color: #f3f3f5;
    font-family: 'Saira', sans-serif;
    font-weight: 400;
    font-size: 2em
}

h2 {
    background-color: #140a03;
    color: rgb(37, 141, 106);
    font-family: 'Saira', sans-serif;
    font-weight: 400;
}

h3 {
    background-color: #140a03;
    color: rgb(37, 141, 106);
    font-family: 'Saira', sans-serif;
    font-weight: 400;
}

body {
    background-color: #140a03;
    color: rgb(37, 141, 106);
    font-family: 'Saira', sans-serif;
    font-weight: 400;
}

table,
th,
td {

    border: 1px solid rgb(37, 141, 106);
    border-collapse: collapse;
}

th,
td {

    padding: 2px;
}

th {

    background-color: rgb(37, 141, 106);
    color: #f3f3f5;
}
td{    font-weight: 400;
    font-size: .8em}

.center {
    margin-left: auto;
    margin-right: auto;
}

logo {}